.footer {
    width: 100%;
    padding: 45px 30px 20px;
    box-sizing: border-box;
    background-color: #d9f5df;
    border-top: 1px solid #c2e2ca;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 45px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-info {
    padding-right: 30px;
}

.footer-column h3 {
    margin: 0 0 8px;

    color: #198754;

    font-size: 18px;
    font-weight: 700;
}

.footer-column h4 {
    margin: 0 0 8px;

    color: #198754;

    font-size: 12px;
    font-weight: 700;
}

.footer-column p {
    margin: 0;

    color: #6f7d74;

    font-size: 10px;
    line-height: 1.8;
}

.footer-column a,
.footer-column span {
    width: fit-content;

    color: #4f6056;

    text-decoration: none;

    font-size: 10px;

    transition: 0.2s ease;
}

.footer-column a:hover {
    color: #198754;
    transform: translateX(3px);
}

.footer-column span {
    cursor: default;
}


.footer-bottom {
    width: 90%;
    max-width: 1200px;

    margin: 35px auto 0;
    padding-top: 18px;

    border-top: 1px solid #bddbc4;

    text-align: center;
}

.footer-bottom p {
    margin: 0;

    color: #718078;

    font-size: 9px;
}

.footer-bottom strong {
    color: #198754;
}
